In [38]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
#df=reda_data_csv("C:/Users/HP/ML-Math-DSA/Pandas/Tutorial1.csv")

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df.shape

(6, 4)

In [17]:
df['temperature'].max()

35

In [18]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [20]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
rows,coloumns=df.shape

In [21]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [23]:
df[1:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [35]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [36]:
type(df.event)

pandas.core.series.Series

In [42]:
df['temperature'].max()

35

In [43]:
df['temperature'].mean()

30.333333333333332

In [44]:
df['temperature'].std()

3.8297084310253524

In [45]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [56]:
df.temperature.max()

35

In [74]:
df.temperature.max()

35

In [86]:
df.set_index('day',inplace=True)

In [87]:

df

          temperature  windspeed  event
day
1/1/2017           35          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           35          2   Snow
1/4/2017           35          7   Snow
1/5/2017           35          4   Rain
1/6/2017           35          2  Sunny

In [84]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           35          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           35          2   Snow
3  1/4/2017           35          7   Snow
4  1/5/2017           35          4   Rain
5  1/6/2017           35          2  Sunny

In [85]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [88]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object